$white: white !default;

main.container {
  box-sizing: border-box;
  margin: 0 5%;
  outline: 1px solid red;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47a3da;
  height: 50vh;

  .tabs {
    border-bottom: 0.25ex solid;
  a {
    color: gray;
  }
  #products {
    color: white;
  }
  #dropdown {
    background-color: #47a3da;
    color: white;
  }

    a[href] {
      display: inline-block;
      margin: 0; margin-right: 0.5em;
      padding: 1ex 2em;
      background-color: $white;
      text-decoration: none;
      font-weight: bold;

      &.active {
        background-color: #47a3da;
        color: white;
      }
    }
  }

  .panel {
    display: none;
  }
  .panel.active {
    display: block;
  }
  .dropdowninfo {
    display:inline-block;
    float: left;
    width: 30%;
  }
}
