

body {
  height: 100;
  -webkit-column-count: 3;
  -webkit-column-width: 30vw;
  font-size: 12px;
  font-family: 'Georgia', serif;
  color: #333;
  background: #ecf0f1;
  padding: 1em;
  text-align: center;
  border: 1px solid blue;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  border: 1px solid aqua;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  border: 1px solid aqua;
  text-align: center;
}

h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
  border: 1px solid aqua;
  text-align: center;
}


p {
  margin-bottom: 1.3em;
  text-align: center;
  border: 1px solid black;
}

.main {
  font-variant: small-caps;
  font-size: 1.3em;
  text-align: left;
  font-style: italic;
  border: 1px solid black;
}

li {
  text-align: center;
  border: 1px solid red;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.9em;
  border: 1px solid black;
}
