body {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: arial;
}

h1 {
  color: aliceblue;
}

header > span {
  color: aquamarine
}

.cbp-mc-column {
  background-color: lightgray;
  float: left;
  margin: auto;
  width: 33%;
}

div {
  border: 1px solid black;
  padding: 10px;
}

.cbp-mc-submit-wrap {
  border: 3px solid blue;
}

.cbp-mc-submit-wrap {
  text-align: center;
}

@media (max-width: 450px){
  .cbp-mc-column{width: 80%;}
}

@media (min-width: 451px) and (max-width: 540px){
  .cbp-mc-column{width: 50%}
}
